@use '../../_abstracts/vars' as vars;

@mixin defineH1 {
    font-weight: 600;
    font-size: clamp(vars.$small-font, 8vw, vars.$large-font )
}

@mixin defineMainSectionTitle {
    font-weight: 200;
    font-size: vars.$large-font;
}

h1.title-main {
    @include defineH1;
}

h2.title-sub-section {
    @include defineMainSectionTitle;
}